---
---
[
  {% assign posts = site.posts | where_exp:"post","post.is_generated != true" %}
  {% assign date_format = site.date_format | default: "%m/%d/%Y" %}
  {% assign first = true %}
  {% for doc in posts %}
    {% unless first %},{% endunless %}
    {
      "title"    : {{ doc.title | jsonify }},
      "tags"     : {{ doc.tags | array_to_sentence_string | jsonify }},
      "categories" : "posts",
      "url"      : {{ site.baseurl | append: doc.url | jsonify }},
      "date"     : {{ doc.date | date: date_format | jsonify }},
      "content"  : {{ doc.content | strip_html | normalize_whitespace | jsonify }}
    }
    {% assign first = false %}
  {% endfor %}
  {% for collection in site.collections %}
    {% unless collection.label == "posts" %}
      {% assign docs = collection.docs | where_exp:"doc","doc.is_generated != true" %}
      {% for doc in docs %}
        {% assign search_title = doc.name %}
        {% unless search_title %}
          {% if doc.title and doc.title != "index" %}
            {% assign search_title = doc.title %}
          {% else %}
            {% assign search_title = doc.slug %}
          {% endif %}
        {% endunless %}
        {% unless first %},{% endunless %}
        {
          "title"    : {{ search_title | jsonify }},
          "tags"     : {{ doc.tags | array_to_sentence_string | jsonify }},
          "categories" : {{ collection.label | jsonify }},
          "url"      : {{ site.baseurl | append: doc.url | jsonify }},
          "date"     : {% if doc.date %}{{ doc.date | date: date_format | jsonify }}{% else %}""{% endif %},
          "content"  : {{ doc.content | strip_html | normalize_whitespace | jsonify }}
        }
        {% assign first = false %}
      {% endfor %}
    {% endunless %}
  {% endfor %}
]
